# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Figletify Selection'
      'command': 'figletify:convert'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Figletify Selection'
        'command': 'figletify:convert'
      }
    ]
  }
]
